body{
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
    background-color: white;
  }
form{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  select{
    width: 10%;  
  }
  input{
      width: 40%;
      padding: 5px;
      margin-bottom: 10px;
  }
  #heading{
      font-size: 50px;
      text-align: center;
      font-weight: bold;
  }
  #footer{
    font-size: 30px;
    font-weight: bold;
    
  }
  .bill{
    font-size: 40px;
    font-weight: bold;
    padding-left: 70px;
  }
  .info{
    font-size: 20px;
    color: red;
    padding-left: 70px;
  }
  hr{
    border-top: 1px solid red;
  }
